
@{
    ViewBag.Title = "Category";
}

<div id="headercontainer">
    <h1 id="headerTitle">Choose a Topic</h1>
</div>


<div id="pagecontent">
    <div id="topiccontainer">
        <div class="row1">
            <img class="column1" src="~/Resources/background.jpg" />
            <img class="column2" src="~/Resources/background.jpg" />
            <img class="column3" src="~/Resources/background.jpg" />
        </div>
        <div class="row2">
            <img class="column1" src="~/Resources/background.jpg" />
            <img class="column2" src="~/Resources/background.jpg" />
            <img class="column3" src="~/Resources/background.jpg" />
        </div>
    </div>
</div>
