@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Category";
}

@section css {
<link href="~/Content/waves.min.css" rel="stylesheet" type="text/css" />
}

@section js {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/waves.min.js"></script>

<script>
    Waves.attach('.category-hover');
    Waves.init();

    function categoryclick(topic) {
        setTimeout(function () {
            window.location.href = "@Url.Action("Chat", "Home")" + "?topic=" + topic;
        }, 400);
    }

    $(function () {
        setTimeout(function () {
            $('#topiccontainer-wrapper').animate({ 'opacity': 1 }, 2000);
        }, 200);
    });
</script>
}

<div id="headercontainer">
    <a id="backcontainer" title="Back" href="@Url.Action("Lobby", "Home")">
        <img id="back" src="~/Resources/back.png" height="70" />
        <img id="back-hover" src="~/Resources/back-hover.png" height="70" />
    </a>
    <h1 id="headerTitle">Choose a Topic</h1>
</div>

<div class="pagecontent">
    <div id="topiccontainer-wrapper">
        <div id="topiccontainer">
            <div class="row1">
                <div class="column1 category-hover" onclick="categoryclick('Movies')">
                    <img class="topic-img" src="~/Resources/Topics/movies-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/movies.jpg" />
                    <div class="topic-text">Movies</div>
                </div>
                <div class="column2 category-hover" onclick="categoryclick('Travel')">
                    <img class="topic-img" src="~/Resources/Topics/travel-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/travel.jpg" />
                    <div class="topic-text">Travel</div>
                </div>
                <div class="column3 category-hover" onclick="categoryclick('Games')">
                    <img class="topic-img" src="~/Resources/Topics/games-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/games.jpg" />
                    <div class="topic-text">Games</div>
                </div>
            </div>
            <div class="row2">
                <div class="column1 category-hover" onclick="categoryclick('Music')">
                    <img class="topic-img" src="~/Resources/Topics/music-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/music.jpg" />
                    <div class="topic-text">Music</div>
                </div>
                <div class="column2 category-hover" onclick="categoryclick('Animals')">
                    <img class="topic-img" src="~/Resources/Topics/animals-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/animals.jpg" />
                    <div class="topic-text">Animals</div>
                </div>
                <div class="column3 category-hover" onclick="categoryclick('Sports')">
                    <img class="topic-img" src="~/Resources/Topics/sports-hover.jpg" />
                    <img class="topic-img-hover" src="~/Resources/Topics/sports.jpg" />
                    <div class="topic-text">Sports</div>
                </div>
            </div>
        </div>
    </div>
</div>
